---
import Layout from "../../layouts/Layout.astro";
import BarraVertical from "../../components/barra-vertical.astro";
import CarsRutas from "../../components/cars-rutas.astro";
import PruebaServicios from "../../components/PruebaServicios.astro";
import Foteer from "../../components/Foteer.astro";
---

<Layout title="Ruta culturenosa">
  <main class="section main">
    <p>Ruta Culturenosa</p>
  </main>
  <div class="section-text-culturenosa">
    <h2>Ruta Cultuarenosa</h2>
    <p>
      Para iniciar esta ruta se debe llegar primero a la ciudad de Barranquilla
      (Atlántico - Colombia), el recorrido empieza llegando al aeropuerto
      internacional Ernesto Cortissoz, por vía terrestre esta la terminal
      metropolitana de transportes de allí; ay varias opciones, puedes tomar un
      taxi desde el aeropuerto hasta el Centro dura aproximadamente 40 min, y
      caminando aproximadamente 2 horas y 32 minutos.
    </p>
  </div>
  <div class="section-text-barranquilla">
    <div class="text-barranquilla">
      <h2>Barranquilla</h2>
      <p>
        Es la capital del departamento Atlántico de Colombia y es un desbordante
        puerto marino, bordeado por el río Magdalena. La ciudad es conocida por
        su enorme Carnaval, que reúne a artistas con extravagantes disfraces,
        carros elaborados y música cumbia. En el elegante vecindario El Prado,
        el Museo Romántico exhibe artefactos de festivales y exhibiciones
        anteriores de famosos colombianos, como el escritor Gabriel García
        Márquez, el clima es de tipo tropical seco.
      </p>
    </div>
    <div class="imagen-de-barranquilla">
      <img
        src="/rutacol/assets/ruta-culturenosa.png"
        alt="Imagen del atlantico"
      />
    </div>
  </div>
  <div class="section-bridge-barranquilla">
    <p>Puente Alberto Pumarejo - Barranquilla (Atlántico)</p>
  </div>
  <div class="section-museum">
    <div class="imagen-museum">
      <img src="/rutacol/assets/imagen-museum.png" alt="" />
    </div>
    <div class="text-museum">
      <div class="box-text-one">
        <h3>Museo Romático</h3>
        <p>
          El lugar ofrece secciones con objetos que remiten a la historia local,
          regional y nacional así como colecciones de ciencia y tecnología, arte
          y etnografía. Con unas 12.000 piezas que se pueden visitar tanto en
          forma independiente como a través de las visitas guiadas organizadas
          por la institución. Como disfraces de la reina del carnaval, una
          réplica de la calle Camellón Abello, entre otras.
        </p>
      </div>
      <div class="box-text-two">
        <h3>Museo Cimu</h3>
        <p>
          El centro interactivo de memoria urbana busca fomentar la creación de
          memoria, la promoción del diálogo, la reflexión y la construcción
          ciudadana, a través del conocimiento y la valoración del patrimonio
          Histórico y Cultural de la ciudad de Barranquilla y el departamento
          del Atlántico, con los referentes de la experiencia, conexión y
          representación que tienen en su historia y desarrollo los edificios y
          espacios que hoy conforman el Complejo Cultural de la Antigua Aduana,
          la entrada cuesta $7000 pesos abierto de lunes a viernes. Es un lugar
          para el disfrute del conocedor de historia y del que no, así como para
          todas las familias, desde el más pequeño hasta el más adulto. El
          ingreso también está pensado para las personas con discapacidad. La
          taquilla atiende de martes a domingo, de 9:00 a.m. a 5:00 p.m
        </p>
      </div>
    </div>
  </div>
  <div class="section-restaurant">
    <div class="where-to-eat">
      <h2>¿Dónde comer?</h2>
      <p>
        Dentro de la ciudad existen innumerables restaurantes donde puedes
        degustar muchos platicos de la región, pero sin lugar a dudas uno de los
        sitios que no puedes perderte es Pescaye, la atención al cliente es
        increíble, su comida es exquisita y lo mejor de todo es que es muy
        cercano a muchos de los museos donde puedes disfrutar arte cultura y una
        comida deliciosa
      </p>
    </div>
  </div>
  <div class="section-eat">
    <div class="imagen-eat">
      <img src="/rutacol/assets/restaurant.png" alt="Restaurantes" />
    </div>
  </div>
  <div class="section-hospedaje">
    <div class="hospedaje-text">
      <div>
        <BarraVertical />
      </div>
      <div class="main-text-hospedaje">
        <h3>Hospedaje</h3>
        <p>
          Si desea un lugar agradable para hospedarte y descansar, tu mejor
          opción es realismo mágico cuentan con un excelente servicio son todos
          muy amables. La comida del desayuno es muy variada. La habitación muy
          buena y cómoda para pasar unos días y lo mejor son los precios
          accesibles. El hostal realismo mágico ofrece una visión del mundo de
          Gabriel García Márquez. Es la razón de este sencillo hostal y con él,
          se contribuye a mantener viva su memoria y la forma en la que él
          construyó un mundo nuevo a través de sus experiencias personales.
        </p>
      </div>
    </div>
    <div class="imagen-hospedaje">
      <img src="/rutacol/assets/imagen-hospedaje.png" alt="" />
      <p>Realismo Mágico Hostal - Barranquilla (Atlántico)</p>
    </div>
  </div>
  <div class="section-imagen-hostal">
    <div class="imagen-hostal-one">
      <img src="/rutacol/assets/imagen-one.png" alt="" />
      <p>Realismo Mágico Hostal - Barranquilla (Atlántico)</p>
    </div>
    <div class="imagen-hostal-two">
      <img src="/rutacol/assets/imagen-two.png" alt="" />
      <p>Realismo Mágico Hostal - Barranquilla (Atlántico)</p>
    </div>
  </div>
  <div class="cars-ruta">
    <div class="cars-new">
      <CarsRutas
        rutaImagen="/rutacol/assets/atlantico.png"
        title="Region Atlantico"
        ruta="/rutacol/ruta-atlantico"
        backgroundColor="--Primary-color-yellow"
        color="--Primary-color-yellow"
      />
      <CarsRutas
        rutaImagen="/rutacol/assets/magdalena.png"
        title="Region Magdalena"
        ruta="/rutacol/ruta-magdalena"
        backgroundColor="--sixth-color-blue"
        color="--sixth-color-blue"
      />
      <CarsRutas
        rutaImagen="/rutacol/assets/cundinamarca.png"
        title="Region Cundinamarca"
        ruta="/rutacol/----------"
        backgroundColor=" --seventh-color-pink"
        color=" --seventh-color-pink"
      />
    </div>
  </div>
  <PruebaServicios />
  <Foteer />
</Layout>
<style>
  .main {
    position: relative;
    width: 100%;
    height: 253px;
    font-family: var(--type-typography);
    background-image: url("/rutacol/assets/imagen-ruta-background.png");
  }
  .main p {
    position: absolute;
    left: 400px;
    bottom: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: var(--background-color-white);
  }
  /* ----------------------- */
  .section-text-culturenosa {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 944px;
    height: 294px;
    margin: 0 auto;
    padding: 80px 0 40px 0;
    font-size: var(--type-typography);
  }
  .section-text-culturenosa h2 {
    width: 896px;
    height: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: var(--Primary-color-yellow);
  }
  .section-text-culturenosa p {
    width: 896px;
    height: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--fifth-color-grey);
  }
  /* ------------------------------ */
  .section-text-barranquilla {
    display: flex;
    background-image: url("/rutacol/assets/background-barranquilla.png");
    color: var(--background-color-white);
    font-family: var(--type-typography);
  }
  .imagen-de-barranquilla {
    width: 300px;
    height: 351px;
  }
  .text-barranquilla {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 805px;
    height: 354px;
    padding: 27px 0px 27px 140px;
  }
  .text-barranquilla h2 {
    width: 757px;
    height: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }
  .text-barranquilla p {
    width: 757px;
    height: 210px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  /* -------------------------- */
  .section-bridge-barranquilla {
    position: relative;
    width: 100%;
    height: 407px;
    background-image: url("/rutacol/assets/bridge-barranquilla.png");
  }
  .section-bridge-barranquilla p {
    position: absolute;
    width: 548px;
    height: 19px;
    bottom: 30px;
    left: 150px;
    line-height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    font-family: var(--type-typography);
    color: var(--background-color-white);
  }
  /* -------------------------------- */
  .section-museum {
    display: flex;
    width: 100%;
    font-family: var(--type-typography);
    color: var(--background-color-white);
  }
  .imagen-museum img {
    height: 100%;
  }
  .box-text-one {
    height: 446px;
    padding: 40px 0 0 40px;
    background-color: var(--Primary-color-yellow);
  }
  .box-text-one h3 {
    width: 516px;
    height: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }
  .box-text-one p {
    width: 516px;
    height: 270px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  .box-text-two {
    height: 610px;
    padding: 40px 0 0 40px;
    background-color: var(--secondary-color-orange);
  }
  .box-text-two h3 {
    width: 516px;
    height: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }
  .box-text-two p {
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  /* --------------------------------- */
  .section-restaurant {
    display: flex;
    justify-content: center;
    font-family: var(--type-typography);
    color: var(--background-color-white);
    background-color: var(--Primary-color-yellow);
  }
  .where-to-eat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    gap: 24px;
    padding: 40px 0 40px 0;
  }
  .where-to-eat h2 {
    width: 100%;
    height: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }
  .where-to-eat p {
    width: 100%;
    height: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  /* ------------------------------------ */
  .imagen-eat img {
    width: 100%;
  }
  /* ---------------------------------- */
  .section-hospedaje {
    display: flex;
    justify-content: center;
    font-family: var(--type-typography);
  }
  .hospedaje-text {
    display: flex;
    width: 708px;
  }
  .hospedaje-text h3 {
    width: 548px;
    height: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: var(--secondary-color-orange);
  }
  .hospedaje-text p {
    width: 548px;
    height: 180px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--fifth-color-grey);
  }
  .main-text-hospedaje {
    display: flex;
    flex-direction: column;
    padding: 230px 80px;
    gap: 24px;
  }
  .imagen-hospedaje {
    text-align: center;
    width: 708px;
    padding: 67px 0;
    background-color: var(--background-color-white);
  }
  .imagen-hospedaje img {
    width: 548px;
    height: 543px;
  }
  .imagen-hospedaje p {
    width: 548px;
    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    padding-top: 24px;
    color: var(--fifth-color-grey);
  }
  /* -------------------------------------- */
  .section-imagen-hostal {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-white);
  }
  .section-imagen-hostal div {
    width: 708px;
  }
  .section-imagen-hostal div img {
    width: 548px;
    height: 543px;
    border: 14px solid var(--background-color-white);
  }
  .section-imagen-hostal div p {
    width: 548px;
    height: 19px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--type-typography);
    margin: 0 auto;
    text-align: center;
    color: var(--fifth-color-grey);
  }
  .imagen-hostal-one,
  .imagen-hostal-two {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 67px 40px;
  }
  /* ------------------------ */
  .cars-new {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: auto;
  }
  /* ---------------------------------- */
</style>
