---
import Layout from "../../layouts/Layout.astro";
import CarRuta from "../../components/car-ruta.astro";
import CarsRutas from "../../components/cars-rutas.astro";
import Form from "../../components/form.astro";
import Foteer from "../../components/Foteer.astro";
import TextSucribete from "../../components/text-sucribete.astro";
---

<Layout title="Departamento del Atlantico">
  <main>
    <div class="atlantico">
      <div class="imagen-atlantico">
        <img src="/rutacol/assets/imagen-rutas-atlantico.png" alt="" />
      </div>
      <div class="text-atlantico">
        <h1>Departamento del Atlántico</h1>
        <p>
          Este maravilloso departamento tiene un sin número de atractivos
          turísticos desde la parte natural, cultural y científico. Uno de sus
          principales atractivos es su capital la ciudad de Barranquilla, con su
          agraciado atractivo estructural, lujosos y tranquilos balnearios, en
          donde resaltan las Bocas de Ceniza y la ciénaga de Luruaco; las playas
          cálidas y arenosas, como las de Santa Verónica, Palmarito, Sabanilla y
          Puerto Colombia, y el zoológico de Barranquilla. Limita con el
          departamento de Bolívar está la ciénaga de El Totumo en donde es
          aprovechada por los visitantes que llegan a disfrutar del volcán.
        </p>
      </div>
    </div>
    <div class="title-rutas">
      <p>Rutas</p>
    </div>
  </main>
  <div class="section-rutas">
    <CarRuta
      ruta="/rutacol/ruta-culturenosa"
      background="/rutacol/assets/background-cultuarenosa.png"
      buttonText="Ruta Culturenosa"
      title="Barranquilla-Atlantico"
      parrafo="Original de Rutacol"
    />
    <CarRuta
      ruta="/rutacol/ruta-cumbia"
      background="/rutacol/assets/ruta-cumbia.png"
      buttonText="Ruta Cumbia"
      title="Barranquilla-Atlantico"
      parrafo="Original de Rutacol"
      backgroundColor="--secondary-color-orange"
    />
  </div>
  <div class="section-redireccion">
    <div class="section-redireccion">
      <CarsRutas
        rutaImagen="/rutacol/assets/magdalena.png"
        title="Region Magdalena"
        ruta="/rutacol/ruta-magdalena"
        backgroundColor="--sixth-color-blue"
        color="--sixth-color-blue"
      />
      <CarsRutas
        rutaImagen="/rutacol/assets/cundinamarca.png"
        title="Region Cundinamarca"
        ruta="/rutacol/ruta-cundinamarca"
        backgroundColor=" --seventh-color-pink"
        color=" --seventh-color-pink"
      />
    </div>
  </div>
  <div class="section-suscribete">
    <Form
      title="Suscribete"
      nombre="Nombre y apellidos"
      correo="Correo electronico"
      mensaje="Mensaje"
    />
    <TextSucribete />
  </div>
  <Foteer />
</Layout>

<style>
  .atlantico {
    display: flex;
    font-family: var(--type-typography);
    background: var(--Primary-color-yellow);
    color: var(--tertiary-color-white);
  }

  .imagen-atlantico {
    padding-left: 65px;
  }
  .imagen-atlantico img {
    height: 100%;
  }
  .text-atlantico {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 559px;
  }
  h1::after {
    position: absolute;
    border-bottom: var(--tertiary-color-white) solid 8px;
    content: "";
    bottom: -30px;
    left: 18px;
    width: 150px;
  }
  h1 {
    position: relative;
    width: 527px;
    height: 170px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    padding: 26px 26px 0px 16px;
  }

  .text-atlantico p {
    width: 527px;
    height: 392px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    padding: 26px 26px 0px 16px;
  }
  .title-rutas {
    position: relative;
    width: 100%;
    height: 253px;
    background-image: url("/rutacol/assets/imagen-ruta-background.png");
  }
  .title-rutas p {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    width: 500px;
    height: 80px;
    right: 140px;
    bottom: 85px;
    text-align: end;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  /* ---
  ----------------------- */
  .section-rutas {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
  /* ---------------- */
  .section-redireccion {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 60px 0 60px 0;
  }
  .section-suscribete {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
</style>
