---
import Layout from "../../layouts/Layout.astro";
import Suscribete from "../../components/suscribete.astro";
import Foteer from "../../components/Foteer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Suscribete />
    <Foteer />
  </main>
</Layout>

<style></style>
