---
import Layout from "../../layouts/Layout.astro";
import Form from "../../components/form.astro";
import Foteer from "../../components/Foteer.astro";
import PruebaServicios from "../../components/PruebaServicios.astro";
import BarraHorizontal from "../../components/barra-horizontal.astro";
---

<Layout title="Contactanos">
  <main>
    <div>
      <img src="/rutacol/assets/imagen-contactanos.png" alt="" />
    </div>
    <Form
      title="Contactanos"
      nombre="Nombre y apellidos"
      correo="Correo electronico"
      mensaje="Mensaje"
    />
  </main>
  <div class="section-imagen"></div>
  <div class="section-services">
    <div class="services">
      <PruebaServicios />
    </div>
    <BarraHorizontal />
  </div>
  <Foteer />
</Layout>

<style>
  main {
    display: flex;
    justify-content: space-between;
  }
  /* ----------------------------- */
  .section-imagen {
    width: 100%;
    background-image: url("/rutacol/assets/bear.png");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px;
  }
</style>
