---
import Layout from "../../layouts/Layout.astro";
import CarsRutas from "../../components/cars-rutas.astro";
import PruebaServicios from "../../components/PruebaServicios.astro";
import Foteer from "../../components/Foteer.astro";
---

<Layout title="Parque Regional">
  <main>
    <h1>Ruta Cascada Natural</h1>
  </main>
  <div class="section-parque-arata">
    <div class="text-parque-arata">
      <h2>Rumbo a Guatavita</h2>
      <p>
        El recorrido empieza llegando al aeropuerto internacional el Dorado o
        por vía terrestre al terminal de Bogotá, de allí puedes tomar un taxi
        desde Bogotá hasta Guatavita (Cundinamarca), el cual tiene un costo de
        $65.000 a $85.000 por persona, el recorrido dura aproximadamente 1 hora
        y 31 minutos; o puedes tomar la flota Teusaca hasta llegar a este
        destino, la cual tiene un costo de $20.000 pesos.
      </p>
      <h2>Guatavita</h2>
      <p>
        Es un municipio colombiano del departamento de Cundinamarca. Las ruinas
        de la cabecera anterior se encuentra actualmente en el sur del fondo del
        Embalse del Tominé. Entre los planes más importantes están, el disfrutar
        no solo de su amplia y variada naturaleza; sino tambien, de su
        gastronomía local, exquisitos y gran variedad de postres, platos con
        cordero, trucha y mazamorra entre muchos otros.
      </p>
    </div>
    <div class="imagen-parque-arata">
      <img src="/rutacol/assets/iglesia.jpg" alt="Imagen original de RutaCol" />
    </div>
  </div>
  <div class="tomine">
    <h2>Embalse de Tominé</h2>
    <p>
      Es un lugar hermoso, que tiene un cuerpo de agua que se extiende por
      terrenos de la cabecera municipal de Guatavita y el municipio de Sesquilé,
      municipios ubicados al norte de la ciudad de Bogotá. Este embalse hace
      parte del sistema hídrico de la Sabana de Bogotá junto con los embalses
      del Sisga y Neusa. Tiene una longitud de 18 Kilómetros de largo por 4
      ancho y 50 metros en promedio de profundidad, con capacidad para 690
      millones de metros cúbicos de agua, por lo que se ha convertido en una
      reserva de vital importancia para el sector. Este hermoso lugar alberga
      una gran cantidad de recursos naturales, lo que hace que sin lugar a dudas
      esté embalse hidríco sea famoso para sus visitantes, está ubicado a 31 min
      de Guatavita en carro y a 3 horas en una caminata ecológica su costo es de
      $15.000 pesos por persona, no te pierdas la oportunidad de disfrutar de
      este hermoso ecosistema.
    </p>
  </div>
  <div class="imagen-regional">
    <p>
      Junín - Cundinamarca Tomada de internet - Créditos a quién corresponda
    </p>
  </div>
  <div class="hospedaje-cascada">
    <div class="text-hospedaje">
      <h2>Laguna de Guatavita</h2>
      <p>
        En esta hermosa región se encuentra la mágica laguna que lleva el nombre
        del municipio, que hace alusión al histórico lugar donde reposa la
        leyenda del Dorado, se encuentra en la cordillera oriental de Colombia,
        en la vereda tierra negra del municipio de Sesquilé, bajo jurisdicción
        de la corporación Corporación Autónoma Regional CAR, La laguna de
        Guatavita está a una de altitud de 3100 m s. n. m. y a una temperatura
        de 5 a 11 C. Es una depresión montañosa de forma perfectamente circular,
        con cerca 700 m de diámetro, rodeada de bosques nativos de encenillos
        que abarcan toda la zona natural donde reposa esta fuentre hidríca, para
        llegar a este hermoso lugar el recorrido dura aproximadamente 3 horas y
        16 minutos, su costo varía según la actividad que quieran realizar allí.
      </p>
    </div>
    <div class="imagen-hospedaje">
      <p>
        Laguma de Guatavita - Cundinamarca Tomada de internet - Créditos a quién
        corresponda
      </p>
    </div>
  </div>
  <div class="what-eat">
    <h2>¿Dónde comer?</h2>
    <p>
      Un sitio imperdible, es el mirador los monolitos, el cual cuenta con una
      variedad de platos tipicos, dispone de excelente atención al cliente, la
      comida es deliciosa y tiene una vista espectacular, la cual es recomendado
      para toda ocasión, presenta opciones vegetarianas y platos gourmet para
      todo tipo de gustos, también cuentan con servicio de glamping.
    </p>
  </div>
  <div class="section-imagen-restaurant">
    <div class="eat">
      <p>
        Restaurante Bar Villa San Fernando - Junín (Cundinamarca) Tomada de
        internet - Créditos a quién corresponda
      </p>
    </div>
    <div class="eat-two">
      <p>
        Restaurante Bar Villa San Fernando - Junín (Cundinamarca) Tomada de
        internet - Créditos a quién corresponda
      </p>
    </div>
  </div>
  <div class="rumbo-junin">
    <h2>Hospedaje</h2>
    <p>
      Si desea un lugar agradable, comodo, tranquilo para hospedarte y
      descansar, tu mejor opción es bajo el cielo, realizando Glamping en un
      espacio diseñado para la tranquilidad y la contemplación de la naturaleza
      que se desarrolla en esta región, con todas las comodidades de un hotel de
      lujo, si estás buscando la experiencia de estar bajo el cielo y en
      estrecha relación con el medio. Aqui te hospedaras con las mejores
      comodidades bajo una vista espectacular.
    </p>
  </div>
  <div class="imagen-sola"></div>
  <div class="section-descubre-mas">
    <div class="descubre-mas">
      <div class="title-descubre-mas">
        <h2>Descubre más rutas</h2>
      </div>
      <div class="descubre-ruta-car">
        <CarsRutas
          rutaImagen="/rutacol/assets/atlantico.png"
          title="Region Atlantico"
          ruta="/rutacol/ruta-atlantico"
          backgroundColor="--Primary-color-yellow"
          color="--Primary-color-yellow"
        />
        <CarsRutas
          rutaImagen="/rutacol/assets/magdalena.png"
          title="Region Magdalena"
          ruta="/rutacol/ruta-magdalena"
          backgroundColor="--sixth-color-blue"
          color="--secondary-color-orange"
        />
      </div>
    </div>
    <div class="otras-rutas">
      <PruebaServicios
        rutaDeImagen="/rutacol/assets/icons/icon-ruta.png"
        rutaDeImagen2="/rutacol/assets/icons/icon-navegante.png"
        rutaDeImagen3="/rutacol/assets/icons/icon-gps.png"
        rutaDeImagen4="/rutacol/assets/icons/icon-marcador-de-posicion.png"
        parrafo="Prueba nuestras rutas"
        parrafo2="Crea tus rutas"
        parrafo3="Filtra tus rutas"
        parrafo4="Incluye tu negocio en una ruta"
      />
    </div>
  </div>
  <Foteer />
</Layout>
<style>
  main {
    position: relative;
    width: 100%;
    height: 253px;
    font-family: var(--type-typography);
    background-image: url("/rutacol/assets/guatavita-colombia.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  main h1 {
    position: absolute;
    left: 400px;
    bottom: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: var(--background-color-white);
  }
  /* ---------------------------- */
  .section-parque-arata {
    display: flex;
  }
  .imagen-parque-arata {
    position: relative;
  }
  .imagen-parque-arata img {
    width: 554px;
    height: 96%;
    border: 14px solid var(--tertiary-color-white);
  }
  .text-parque-arata {
    display: flex;
    flex-direction: column;
    padding: 40px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  .text-parque-arata h2 {
    width: 665px;
    height: 106px;
    font-size: 70px;
    color: #ae313f;
  }
  .text-parque-arata p {
    font-size: 25px;
    width: 689px;
    height: 242px;
    color: var(--fifth-color-grey);
  }
  /* --------------------------------------- */
  .tomine {
    text-align: end;
    padding: 40px 80px;
    height: 400px;
    font-family: var(--type-typography);
    color: var(--tertiary-color-white);
    background-color: var(--seventh-color-pink);
  }
  .tomine h2 {
    width: 100%;
    height: 102px;
    font-size: 70px;
    padding-bottom: 24px;
  }
  .tomine p {
    width: 1204px;
    height: 166px;
    font-size: 25px;
  }
  /* -------------------------------- */
  .imagen-regional {
    position: relative;
    width: 97.9%;
    height: 444px;
    border: 14px solid var(--tertiary-color-white);
    background-image: url("/rutacol/assets/parque-regional.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imagen-regional p {
    position: absolute;
    right: 28px;
    bottom: 17px;
    width: 490px;
    height: 41px;
    text-align: end;
    color: aliceblue;
    font-size: 19px;
  }
  /* ------------------------------------- */
  .hospedaje-cascada {
    display: flex;
    height: 700px;
    flex-direction: row-reverse;
  }
  .text-hospedaje {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 60px;
    font-family: var(--type-typography);
    background-image: var(--background-color-white);
  }
  .text-hospedaje h2 {
    width: 682px;
    height: 132px;
    font-size: 70px;
    color: #ae313f;
  }

  .text-hospedaje p {
    width: 694px;
    height: 470px;
    font-size: 25px;
    color: var(--fifth-color-grey);
  }
  .imagen-hospedaje {
    width: 626px;
    height: 95%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.28),
        rgba(0, 0, 0, 0.28)
      ),
      url("/rutacol/assets/guatavita-colombia.jpg");
    border: 16px solid var(--tertiary-color-white);
  }
  .imagen-hospedaje p {
    position: absolute;
    width: 392px;
    height: 41px;
    right: 40px;
    text-align: end;
    bottom: 47px;
    font-size: 15px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  /* ---------------------------- */
  .what-eat {
    padding: 40px 80px;
    font-family: var(--type-typography);
    color: var(--tertiary-color-white);
    background-color: var(--seventh-color-pink);
  }
  .what-eat h2 {
    width: 678px;
    height: 102px;
    font-size: 70px;
    padding-bottom: 24px;
  }
  .what-eat p {
    width: 1204px;
    height: 166px;
    font-size: 25px;
  }
  /* ------------------------ */
  .section-imagen-restaurant {
    position: relative;
    height: 1015px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.38),
        rgba(0, 0, 0, 0.38)
      ),
      url("/rutacol/assets/parque-arata.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 30px solid var(--tertiary-color-white);
    border-left: 30px solid var(--tertiary-color-white);
  }

  .eat {
    width: 1174px;
    height: 273px;
    top: 132px;
    left: -30px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 30px solid var(--tertiary-color-white);
    background-image: url("/rutacol/assets/jugos.jfif");
  }
  .eat p {
    position: absolute;
    top: 40px;
    left: 53px;
    width: 497px;
    height: 41px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  .eat-two {
    width: 1174px;
    height: 273px;
    bottom: 87px;
    right: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 30px solid var(--tertiary-color-white);
    background-image: url("/rutacol/assets/cabaña.jpg");
  }
  .eat-two p {
    position: absolute;
    top: 40px;
    left: 53px;
    width: 497px;
    height: 41px;
    font-weight: 400;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  /* ----------------------------------- */
  .rumbo-junin {
    padding: 40px 80px;
    font-family: var(--type-typography);
    background-color: var(--background-color-white);
  }
  .rumbo-junin h2 {
    width: 678px;
    height: 102px;
    font-size: 70px;
    color: #ae313f;
    padding-bottom: 24px;
  }
  .rumbo-junin p {
    width: 1204px;
    height: 166px;
    font-size: 25px;
    color: var(--fifth-color-grey);
  }
  /* ---------------------------------- */
  .imagen-sola {
    height: 444px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.28),
        rgba(0, 0, 0, 0.28)
      ),
      url("/rutacol/assets/cerro-guatavita.JPG");
    border: 16px solid var(--tertiary-color-white);
  }
  /* --------------------------------------- */
  .otras-rutas {
    width: 600px;
  }
  .title-descubre-mas h2 {
    font-size: 70px;
    width: 589px;
    padding: 0px 0 40px 0;
    color: var(--secondary-color-orange);
    font-family: var(--type-typography);
  }
  .section-descubre-mas {
    display: flex;
    justify-content: center;
    padding: 40px 0 40px 0;
  }
  .descubre-ruta-car {
    display: flex;
    gap: 24px;
  }
</style>
