---
import Layout from "../../layouts/Layout.astro";
import CarRuta from "../../components/car-ruta.astro";
import CarsRutas from "../../components/cars-rutas.astro";
import Form from "../../components/form.astro";
import Foteer from "../../components/Foteer.astro";
---

<Layout title="Departamento del Magdalena">
  <main>
    <div class="magdalena">
      <div class="imagen-magdalena">
        <img src="/rutacol/assets/imagen-rutas-magdalena.png" alt="" />
      </div>
      <div class="text-magdalena">
        <h1>Departamento del Magdalena</h1>
        <p>
          Este departamento es para Colombia uno de los territorios más ricos en
          biodiversidad con relación al resto del continente, siendo esta
          característica para el sector turístico una joya de gran valor para
          labrar grandes oportunidades con relación a esta area. Posee como
          fortaleza su identidad cultural caracterizada debido a su diversidad
          étnica presente en la región. Referencia de esta riqueza mencionada
          son: los Koguis, Arhuacos, Chimila, Wiwas y Kankuanos, que van desde
          el norte hasta el sur del Departamento.
        </p>
      </div>
    </div>
    <div class="title-rutas">
      <p>Rutas</p>
    </div>
  </main>
  <div class="section-rutas">
    <CarRuta
      background="/rutacol/assets/ruta-del-olvido.png"
      title="Taganga - Magdalena"
      parrafo="Original de rutacol"
      ruta="/rutacol/------------"
      buttonText="RUTA TIERRA DEL OLVIDO"
      backgroundColor=" --seventh-color-pink"
      color="--seventh-color-pink"
    />
    <CarRuta
      background="/rutacol/assets/ruta-econevada.png"
      title="Minca - Magdalena"
      parrafo="Original de rutacol"
      buttonText="RUTA ECONEVADA"
      ruta="/rutacol/-----------"
      backgroundColor="--Primary-color-yellow"
      color="--Primary-color-yellow"
    />
  </div>
  <div class="section-redireccion">
    <CarsRutas
      rutaImagen="/rutacol/assets/atlantico.png"
      title="Region Atlantico"
      ruta="/rutacol/ruta-atlantico"
      backgroundColor="--Primary-color-yellow"
      color="--Primary-color-yellow"
    />
    <CarsRutas
      rutaImagen="/rutacol/assets/cundinamarca.png"
      title="Region Cundinamarca"
      ruta="/rutacol/----------"
      backgroundColor=" --seventh-color-pink"
      color=" --seventh-color-pink"
    />
  </div>
  <Form />
  <Foteer />
</Layout>
<style>
  .magdalena {
    display: flex;
    font-family: var(--type-typography);
    background: var(--sixth-color-blue);
    color: var(--tertiary-color-white);
  }

  .imagen-magdalena {
    padding-left: 65px;
  }
  .imagen-magdalena img {
    width: 650px;
    height: 100%;
  }
  .text-magdalena {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 559px;
  }
  h1::after {
    position: absolute;
    border-bottom: var(--tertiary-color-white) solid 8px;
    content: "";
    bottom: -30px;
    left: 18px;
    width: 150px;
  }
  h1 {
    position: relative;
    width: 527px;
    height: 170px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    padding: 26px 26px 0px 16px;
  }

  .text-magdalena p {
    width: 527px;
    height: 392px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    padding: 26px 26px 0px 16px;
  }
  .title-rutas {
    position: relative;
    width: 100%;
    height: 253px;
    background-image: url("/rutacol/assets/imagen-ruta-background.png");
  }
  .title-rutas p {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    width: 500px;
    height: 80px;
    right: 140px;
    bottom: 85px;
    text-align: end;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  /* ---
  ----------------------- */
  .section-rutas {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
  /* ---------------- */
  .section-redireccion {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 60px 0 60px 0;
  }
</style>
