<div>
  <button class="boton">conoce mas <ion-icon name="arrow-forward" /></button>
</div>
<style>
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 55px;
    gap: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--tertiary-color-white);
    background-color: var(--secondary-color-narange);
    border: none;
    border-radius: 8px;
    transition: 0.3s;
  }
  button:hover {
    background: var(#6d6b6b);
    opacity: 0.5;
  }
</style>
