---
import Button from "./Button.astro";
---

<div class="ruta">
  <div class="contain-car">
    <div class="imagen-car , one">
      <img src="/rutacol/assets/atlantico.png" alt="" />
    </div>
    <p class="p-one">Región Atlántico</p>
    <a href="/rutacol/ruta-atlantico"><Button /></a>
  </div>
  <div class="contain-car">
    <div class="imagen-car , two">
      <img src="/rutacol/assets/magdalena.png" alt="" />
    </div>
    <p class="p-two">Region Magdalena</p>
    <a href=""><Button /></a>
  </div>
  <div class="contain-car">
    <div class="imagen-car , three">
      <img src="/rutacol/assets/cundinamarca.png" alt="" />
    </div>
    <p class="p-three">Region Cundinamarca</p>
    <a href=""><Button /></a>
  </div>
</div>
<style>
  .ruta {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .contain-car {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .contain-car a {
    text-decoration: none;
  }
  .contain-car p {
    width: auto;
    height: 41px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
  }
  .imagen-car img {
    width: 294px;
    height: 473px;
  }

  .p-one {
    color: var(--Primary-color-yellow);
  }
  .p-two {
    color: var(--sixth-color-blue);
  }
  .p-three {
    color: var(--seventh-color-pink);
  }
  .one {
    background: var(--Primary-color-yellow);
    border-radius: 21px;
  }
  .two {
    background: var(--sixth-color-blue);
    border-radius: 21px;
  }
  .three {
    background: var(--seventh-color-pink);
    border-radius: 21px;
  }
</style>
