<div class="footer">
  <img src="/rutacol/assets/Logo.png" alt="" />
  <div class="contain-footer">
    <div>
      <img src="/rutacol/assets/icons/faceboock.svg" alt="" />
      <a href="https://www.facebook.com/Rutacolapp"><p>rutacolapp</p></a>
    </div>
    <div>
      <img src="/rutacol/assets/icons/Twitter.svg" alt="" />
      <a href="https://twitter.com/rutacol"><p>rutacolapp</p></a>
    </div>
    <div>
      <img src="/rutacol/assets/icons/instagram.svg" alt="" />
      <a href="https://www.instagram.com/rutacolapp/"><p>rutacol</p></a>
    </div>
  </div>
</div>
<style>
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 104px;
    border-top: var(fifth-color-grey) solid 1px;
    box-shadow: 0px 6px 15px 1px rgb(34 9 38 / 67%);
  }
  .contain-footer {
    display: flex;
    gap: 30px;
    width: 383.3px;
    height: 21.46px;
  }
  .contain-footer div {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .contain-footer a {
    text-decoration: none;
    color: var(--fifth-color-grey);
  }
</style>
