---
import Layout from "../../layouts/Layout.astro";
import CarsRutas from "../../components/cars-rutas.astro";
import PruebaServicios from "../../components/PruebaServicios.astro";
import Foteer from "../../components/Foteer.astro";
---

<Layout title="Ruta De Junin">
  <main>
    <h1>Ruta Cascada Natural</h1>
  </main>
  <div class="rumbo-junin">
    <h2>Rumbo a Junín</h2>
    <p>
      El recorrido inicia llegando al aeropuerto internacional el Dorado o por
      vía terrestre al terminal; están disponibles varias opciones, puedes tomar
      un taxi desde Bogotá hasta Junín, Cundinamarca el cual tiene un costo de
      110.000 a 140.000 pesos el recorrido dura aproximadamente 1 hora y 58
      minutos o puedes tomar la flota Valle de Tenza hasta este hermoso pueblo,
      por un costo de 15.000 pesos por persona.
    </p>
  </div>
  <div class="junin">
    <h2>Junín</h2>
    <p>
      Es un municipio colombiano del departamento de Cundinamarca, ubicado en la
      Provincia del Guavio, a 103 km al oriente de Bogotá. tiene tres grandes
      hectáreas importantes: Sueva, Claraval y Chuscales. En Chuscales se
      encuentra la reserva natural de Carpanta y el puente natural de Maracaibo
      En Claraval, el Alto de la Virgen, denominado Santa Ana. La mejor época
      para viajar a Junín en Colombia es de junio hasta septiembre, donde tienes
      un clima agradable y poca precipitación. La temperatura máxima promedio en
      en Junín es 23°C en agosto y de 21°C en enero.
    </p>
  </div>
  <div class="imagen-juni">
    <p>
      Junín - Cundinamarca Tomada de internet - Créditos a quién corresponda
    </p>
  </div>
  <div class="section-parque-arata">
    <div class="text-parque-arata">
      <h2>Parque Acarat</h2>
      <p>
        Es un lugar hermoso donde cuya arquitectura es una combinación entre
        estilo barroco e indígena, construido en piedra; el cerro donde se
        encuentra la imagen de la Virgen de la Concepción, inspirado en el arca
        de Noé, desde donde se divisa una espectacular panorámica del municipio,
        para llegar allí debes caminar aproximadamente 24 minutos de la plaza de
        Junín , la entrada es gratuita.
      </p>
    </div>
    <div class="imagen-parque-arata">
      <img
        src="/rutacol/assets/parque-arata.jpg"
        alt="Imagen original de RutaCol"
      />
      <p>
        Junín - Cundinamarca Tomada de internet - Créditos a quién corresponda
      </p>
    </div>
  </div>
  <div class="section-cascada">
    <p>
      Cascada Nemusten - Cundinamarca Tomada de internet - Créditos a quién
      corresponda
    </p>
  </div>
  <div class="cascada-nemusten">
    <h2>Cascada Nemusten</h2>
    <p>
      Ubicado en la provincia del Guavio, pasando el páramo de Guasca se
      encuentra un espectacular lugar donde la confluencia de varios ríos forma
      la cuenca del río Sueva y podremos encontrar varias cascadas de diferentes
      tamaños y caudal, siendo la principal la cascada de Nemustén. Los senderos
      que recorreremos se encuentran próximos a la hidroeléctrica de Sueva. Para
      llegar a la cascada tendremos que recorrer hermosos caminos de herradura
      cercados por rocas y musgo, la caminata dura alrededor de 3 horas 30
      minutos. Se puede llegar en carro y su duración es de 40 minutos su costo
      es de 5.000 pesos por persona.
    </p>
  </div>
  <div class="what-eat">
    <h2>¿Dónde comer?</h2>
    <p>
      Dentro del pueblo se encuentran innumerables sitios donde puedes degustar;
      pero sin lugar a dudas, uno de los sitios uno de los sitios que no puedes
      perderte es el Restaurante – Bar Villa San Fernando, la atención al
      cliente es increíble, su comida es exquisita y lo mejor de todo son las
      vistas hacia la naturaleza y el contacto con las delicias Culturales de
      Junín.
    </p>
  </div>
  <div class="section-imagen-restaurant">
    <div class="eat">
      <p>
        Restaurante Bar Villa San Fernando - Junín (Cundinamarca) Tomada de
        internet - Créditos a quién corresponda
      </p>
    </div>
    <div class="eat-two">
      <p>
        Restaurante Bar Villa San Fernando - Junín (Cundinamarca) Tomada de
        internet - Créditos a quién corresponda
      </p>
    </div>
  </div>
  <div class="hospedaje-cascada">
    <div class="text-hospedaje">
      <h2>Hospedaje</h2>
      <p>
        Si desea un lugar agradable para hospedarte y descansar, tu mejor opción
        es la de mini cabañas San Fernando, en donde cada cabaña cuentan con las
        mayores comodidades, pero a la vez te brindan la posibilidad de llevarte
        a un camping donde puedes disfrutar de zonas totalmente naturales llenas
        de diversidad de flora y fauna silvestre, de esta manera podrás estar en
        contacto con el medio ambiente; de igual forma, los encargados realizan
        fogatas y otras actividades. Este lugar cuenta con su alimentación y
        baños para sus clientes, para su mayor comodidad disfrute.
      </p>
    </div>
    <div class="imagen-hospedaje">
      <p>
        Cabañas Villa San Fernando - Junín (Cundinamarca) Tomada de internet -
        Créditos a quién corresponda
      </p>
    </div>
  </div>
  <div class="section-image-virgen">
    <p>
      Junín (Cundinamarca) Tomada de internet - Créditos a quién corresponda
    </p>
  </div>
  <div class="cascada-nemusten">
    <h2>Alto de los reyes</h2>
    <p>
      Junín ofrece la belleza de varios sitios turísticos por excelencia como el
      Alto de Los Reyes, ubicado a escasos 500 metros del casco urbano, en la
      parte norte, en el que se encuentra un monumento en el que resaltan las
      imágenes del nacimiento de Jesús y el episodio de la visita de los reyes
      magos, añadiendo la presencia de una pareja de campesinos con
      características físicas juninenses. El monumento está conformado por once
      esculturas construidas en hormigón con armazón de hierro, ubicadas en la
      entrada de una choza construida en el mismo material.
    </p>
  </div>
  <div class="section-descubre-mas">
    <div class="descubre-mas">
      <div class="title-descubre-mas">
        <h2>Descubre más rutas</h2>
      </div>
      <div class="descubre-ruta-car">
        <CarsRutas
          rutaImagen="/rutacol/assets/atlantico.png"
          title="Region Atlantico"
          ruta="/rutacol/ruta-atlantico"
          backgroundColor="--Primary-color-yellow"
          color="--Primary-color-yellow"
        />
        <CarsRutas
          rutaImagen="/rutacol/assets/magdalena.png"
          title="Region Magdalena"
          ruta="/rutacol/ruta-magdalena"
          backgroundColor="--sixth-color-blue"
          color="--secondary-color-orange"
        />
      </div>
    </div>
    <div class="otras-rutas">
      <PruebaServicios
        rutaDeImagen="/rutacol/assets/icons/icon-ruta.png"
        rutaDeImagen2="/rutacol/assets/icons/icon-navegante.png"
        rutaDeImagen3="/rutacol/assets/icons/icon-gps.png"
        rutaDeImagen4="/rutacol/assets/icons/icon-marcador-de-posicion.png"
        parrafo="Prueba nuestras rutas"
        parrafo2="Crea tus rutas"
        parrafo3="Filtra tus rutas"
        parrafo4="Incluye tu negocio en una ruta"
      />
    </div>
  </div>
  <Foteer />
</Layout>
<style>
  main {
    position: relative;
    width: 100%;
    height: 253px;
    font-family: var(--type-typography);
    background-image: url("/rutacol/assets/imagen-junin.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  main h1 {
    position: absolute;
    left: 400px;
    bottom: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: var(--background-color-white);
  }
  /* ------------------- */
  .rumbo-junin {
    padding: 40px 80px;
    font-family: var(--type-typography);
    background-color: var(--background-color-white);
  }
  .rumbo-junin h2 {
    width: 678px;
    height: 102px;
    font-size: 70px;
    color: #ae313f;
    padding-bottom: 24px;
  }
  .rumbo-junin p {
    width: 1204px;
    height: 166px;
    font-size: 25px;
    color: var(--fifth-color-grey);
  }
  /* --------------------------------------- */
  .junin {
    text-align: end;
    padding: 40px 80px;
    font-family: var(--type-typography);
    color: var(--tertiary-color-white);
    background-color: var(--seventh-color-pink);
  }
  .junin h2 {
    width: 100%;
    height: 102px;
    font-size: 70px;
    padding-bottom: 24px;
  }
  .junin p {
    width: 1204px;
    height: 166px;
    font-size: 25px;
  }
  /* ----------------------- */
  .imagen-juni {
    position: relative;
    width: 97.9%;
    height: 444px;
    border: 14px solid var(--tertiary-color-white);
    background-image: url("/rutacol/assets/cerro-montecillo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imagen-juni p {
    position: absolute;
    right: 28px;
    bottom: 17px;
    width: 490px;
    height: 41px;
    text-align: end;
    color: aliceblue;
    font-size: 19px;
  }
  /* ------------------------- */
  .section-parque-arata {
    display: flex;
  }
  .imagen-parque-arata {
    position: relative;
  }
  .imagen-parque-arata img {
    width: 554px;
    height: 597px;
    border: 14px solid var(--tertiary-color-white);
  }
  .imagen-parque-arata p {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 497px;
    height: 41px;
    text-align: end;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  .text-parque-arata {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
    background-color: var(--seventh-color-pink);
  }
  .text-parque-arata h2 {
    width: 665px;
    height: 106px;
    font-size: 80px;
  }
  .text-parque-arata p {
    font-size: 25px;
    width: 689px;
    height: 311px;
  }
  /* ----------------------------- */
  .section-cascada {
    height: 560px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 14px solid var(--tertiary-color-white);
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      url("/rutacol/assets/cascada-nemusten.jpg");
  }

  .section-cascada p {
    position: absolute;
    right: 71px;
    width: 497px;
    height: 41px;
    top: 68px;
    text-align: end;
    font-weight: 500;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  /* ---------------------- */
  .cascada-nemusten {
    padding: 40px 80px;
    height: 300px;
    font-family: var(--type-typography);
    background-color: var(--background-color-white);
  }
  .cascada-nemusten h2 {
    width: 678px;
    height: 102px;
    font-size: 70px;
    color: #ae313f;
  }
  .cascada-nemusten p {
    width: 1204px;
    height: 166px;
    font-size: 25px;
    color: var(--fifth-color-grey);
  }
  /* ----------------------- */
  .what-eat {
    padding: 40px 80px;
    font-family: var(--type-typography);
    color: var(--tertiary-color-white);
    background-color: var(--seventh-color-pink);
  }
  .what-eat h2 {
    width: 678px;
    height: 102px;
    font-size: 70px;
    padding-bottom: 24px;
  }
  .what-eat p {
    width: 1204px;
    height: 166px;
    font-size: 25px;
  }
  /* --------------------- */
  .section-imagen-restaurant {
    position: relative;
    height: 1015px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.38),
        rgba(0, 0, 0, 0.38)
      ),
      url("/rutacol/assets/parque-arata.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 30px solid var(--tertiary-color-white);
    border-left: 30px solid var(--tertiary-color-white);
  }

  .eat {
    width: 1174px;
    height: 273px;
    top: 132px;
    left: -30px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 30px solid var(--tertiary-color-white);
    background-image: url("/rutacol/assets/restaurant-arata.jpg");
  }
  .eat p {
    position: absolute;
    top: 40px;
    left: 53px;
    width: 497px;
    height: 41px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  .eat-two {
    width: 1174px;
    height: 273px;
    bottom: 87px;
    right: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 30px solid var(--tertiary-color-white);
    background-image: url("/rutacol/assets/restaurant-arata.jpg");
  }
  .eat-two p {
    position: absolute;
    top: 40px;
    left: 53px;
    width: 497px;
    height: 41px;
    font-weight: 400;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  /* ------------------------------------------- */
  .hospedaje-cascada {
    display: flex;
    height: 632px;
  }
  .text-hospedaje {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 60px;
    font-family: var(--type-typography);
    background-image: var(--background-color-white);
  }
  .text-hospedaje h2 {
    width: 682px;
    height: 132px;
    font-size: 70px;
    color: #ae313f;
  }

  .text-hospedaje p {
    width: 650px;
    height: 414px;
    font-size: 25px;
    color: var(--fifth-color-grey);
  }
  .imagen-hospedaje {
    width: 626px;
    height: 600px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.58),
        rgba(0, 0, 0, 0.58)
      ),
      url("/rutacol/assets/parque-arata.jpg");
    border: 16px solid var(--tertiary-color-white);
  }
  .imagen-hospedaje p {
    position: absolute;
    width: 392px;
    height: 41px;
    left: 40px;
    bottom: 47px;
    font-size: 15px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  /* -------------------------------- */
  .section-image-virgen {
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 16px solid var(--tertiary-color-white);
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.38),
        rgba(0, 0, 0, 0.38)
      ),
      url("/rutacol/assets/virgen.jpg");
  }
  .section-image-virgen {
    position: relative;
  }
  .section-image-virgen p {
    position: absolute;
    width: 392px;
    right: 50px;
    top: 50px;
    font-weight: 500;
    font-size: 15px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  .otras-rutas {
    width: 600px;
  }
  .title-descubre-mas h2 {
    font-size: 70px;
    width: 589px;
    padding: 0px 0 40px 0;
    color: var(--secondary-color-orange);
    font-family: var(--type-typography);
  }
  .section-descubre-mas {
    display: flex;
    justify-content: center;
    padding: 40px 0 40px 0;
  }
  .descubre-ruta-car {
    display: flex;
    gap: 24px;
  }
</style>
