---
import Layout from "../../layouts/Layout.astro";
import CarsRutas from "../../components/cars-rutas.astro";
import PruebaServicios from "../../components/PruebaServicios.astro";
import Foteer from "../../components/Foteer.astro";
---

<Layout title="Ruta de cumbia">
  <main class="section main">
    <p>Ruta de Cumbia</p>
  </main>
  <div class="section-curramba">
    <div class="imagen-iglesia-nicolas">
      <p>
        Parroquia de San Nicolás de Tolentino-Barranquilla (Atlántico)-Tomada de
        internet - Créditos a quién corresponda
      </p>
    </div>
    <div class="main-text-curramba">
      <div class="text-curramba">
        <h2>
          <i class="icon ion-md-pin"></i>
          Rumbo a la curramba
        </h2>
        <p>
          Para iniciar esta ruta se debe llegar primero a la ciudad de
          Barranquilla (Atlántico - Colombia), el recorrido empieza llegando al
          aeropuerto internacional Ernesto Cortissoz, por vía terrestre esta la
          terminal metropolitana de transportes de allí; ay varias opciones,
          puedes tomar un taxi desde el aeropuerto hasta el Centro dura
          aproximadamente 40 min, y caminando aproximadamente 2 horas y 32
          minutos.
        </p>
      </div>
      <div class="text-barranquilla">
        <h2>Barranquilla</h2>
        <p>
          Es la capital del departamento Atlántico de Colombia y es un
          desbordante puerto marino, bordeado por el río Magdalena. La ciudad es
          conocida por su enorme Carnaval, que reúne a artistas con
          extravagantes disfraces, carros elaborados y música cumbia. En el
          elegante vecindario El Prado, el Museo Romántico exhibe artefactos de
          festivales y exhibiciones anteriores de famosos colombianos, como el
          escritor Gabriel García Márquez, el clima es de tipo tropical seco.
        </p>
      </div>
    </div>
  </div>
  <div class="section-guacherna">
    <div class="main-text-guacherna">
      <h2>La Guacherna</h2>
      <p class="text-guacherna">
        La guacherna es uno de los desfiles nocturnos y el evento más importante
        de los pre-carnavales que se ejecuta en la ciudad de Barranquilla. Se
        realiza el penúltimo viernes antes del sábado de carnaval. En ella
        participan grupos folclóricos, cumbiambas, tamboras, disfraces a la luz
        de velas, faroles de colores y cuenta con la reina del carnal de ese
        mismo año. El desfile de la Guacherna arranca a las 7:00 de la noche en
        la calle 70 con carrera 44, en donde todo los grupos participantes
        muestran los bailes típicos colombianos. Según la misma Gobernación del
        Departamento del Atlántico, define el origen de su nombre de la
        siquiente manera:
      </p>
      <p class="note-guacherna">
        “La Guacherna cuyo nombre viene de guache pero no del canalla, el
        villano, el indeseable, sino del instrumento musical ideófono o de forma
        típica con que los barriobajeros llamaban cuando caía el día y empezaba
        la noche”
      </p>
    </div>
    <div class="imagen-guacherna">
      <p>
        La Guachera - Barranquilla (Atlántico) - Tomada de internet - Créditos a
        quién corresponda
      </p>
    </div>
  </div>
  <div class="section-batalla-de-flores">
    <h2>Batalla de Flores</h2>
    <p>
      La Batalla de Flores es el escenario más grande de Colombia, en donde
      miles de personas se reúnen desde tempranas horas para presenciar un
      espectáculo lleno de mucha música y vistas coloridas en la Vía 40, con el
      que dan rienda suelta al primero de los cuatro días del Carnaval de
      Barranquilla. Con más de cien años de tradición, desfilan gran cantidad de
      carrozas, acompañadas por artistas y orquestas de la región. Es un gran
      desfile de carrozas, que encabeza la Reina del Carnaval, seguida de grupos
      folclóricos, disfraces, cumbiambas y comparsas, ganadoras de los concursos
      del carnaval anterior. Esta batalla que se celebra cada año, terminaba con
      un gesto de paz en el que ambos grupos se reconciliaban y se iban a
      celebrar al teatro Emiliano Vengoeachea.
    </p>
  </div>
  <div class="section-imagen-carrosa">
    <p>
      La Guachera - Barranquilla (Atlántico) - Tomada de internet - Créditos a
      quién corresponda
    </p>
  </div>
  <div class="section-restaurant"></div>
  <div class="section-where-to-eat">
    <h2>¿Dónde comer?</h2>
    <p>
      Dentro de la ciudad existen innumerables sitios donde se pueden degustar
      platos típicos y deliciosos; pero sin lugar a dudas, uno de los sitios que
      no puedes perderte es Cucayo, la atención al cliente es increíble, su
      comida es exquisita y lo mejor de todo es que es muy cercano a la vía 40
      donde se realiza el carnaval y un lugar perfecto para degustar la comida
      típica de la región.
    </p>
  </div>
  <div class="section-hospedaje">
    <div class="hospedaje">
      <h2>Hospedaje</h2>
      <p>
        Si desea un lugar agradable para hospedarte, descansar y disfrutar de
        los eventos del carnaval, tu mejor opción es Movich Buró 51 cuentan con
        un excelente servicio, las mejores comodidades, son todos muy amables y
        el precio es super accesible. La comida del desayuno es muy variada y
        típica de la región. Las habitaciones son muy buenas y cómodas para
        pasar unos días agradables.
      </p>
    </div>
    <div class="tradicion">
      <h2>Viva la tradición</h2>
      <p>
        En la Gran Parada de Tradición, desfile del segundo día del Carnaval de
        Barranquilla, cumbiambas, paloteos, garabatos y demás danzas folclóricas
        portadoras de la tradición engalanaron la vía 40. El recorrido esta
        comandado por tres cumbiambas que hacen parte de un bloque de líderes de
        la tradición, ganadores de Congos de Oro, que también han tenido un Rey
        Momo.
      </p>
    </div>
  </div>
  <div class="batalla-de-florez">
    <p>
      Barranquilla (Atlántico) - Tomada de internet - Créditos a quién
      corresponda
    </p>
  </div>
  <div class="section-descubre-mas">
    <div class="descubre-mas">
      <div class="title-descubre-mas">
        <h2>Descubre más rutas</h2>
      </div>
      <div class="descubre-ruta-car">
        <CarsRutas
          rutaImagen="/rutacol/assets/magdalena.png"
          title="Region Magdalena"
          ruta="/rutacol/ruta-magdalena"
          backgroundColor="--sixth-color-blue"
          color="--secondary-color-orange"
        />
        <CarsRutas
          rutaImagen="/rutacol/assets/cundinamarca.png"
          title="Region Cundinamarca"
          ruta="/rutacol/ruta-cundinamarca"
          backgroundColor=" --seventh-color-pink"
          color=" --secondary-color-orange"
        />
      </div>
    </div>
    <div class="otras-rutas">
      <PruebaServicios
        rutaDeImagen="/rutacol/assets/icons/icon-ruta.png"
        rutaDeImagen2="/rutacol/assets/icons/icon-navegante.png"
        rutaDeImagen3="/rutacol/assets/icons/icon-gps.png"
        rutaDeImagen4="/rutacol/assets/icons/icon-marcador-de-posicion.png"
        parrafo="Prueba nuestras rutas"
        parrafo2="Crea tus rutas"
        parrafo3="Filtra tus rutas"
        parrafo4="Incluye tu negocio en una ruta"
      />
    </div>
  </div>
  <Foteer />
</Layout>
<style>
  .main {
    position: relative;
    width: 100%;
    height: 253px;
    font-family: var(--type-typography);
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      url("/rutacol/assets/background-ruta-cumbia.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main p {
    position: absolute;
    left: 400px;
    bottom: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: var(--tertiary-color-white);
  }
  /* --------------------------------------------- */
  .section-curramba {
    display: flex;
    justify-content: space-between;
    height: 740px;
  }
  .main-text-curramba {
    display: flex;
    gap: 17px;
    width: 831px;
    align-items: flex-end;
    flex-direction: column;
    padding: 24px 70px 24px 0;
    font-family: var(--type-typography);
    background-color: var(--background-color-white);
  }
  .imagen-iglesia-nicolas {
    position: relative;
    width: 611px;
    height: auto;
    background-image: url("/rutacol/assets/plaza-de-San-Nicolas.jpg");
    background-position: center;
    background-size: cover;
  }
  .imagen-iglesia-nicolas p {
    position: absolute;
    bottom: 12px;
    right: 15px;
    text-align: end;
    color: var(--tertiary-color-white);
    width: 500px;
  }
  .text-curramba {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .section-curramba h2 {
    width: 540px;
    font-size: 70px;
    text-align: end;
    color: var(--secondary-color-orange);
  }
  .text-curramba p {
    width: 540px;
    font-size: 20px;
    text-align: end;
    color: var(--fifth-color-grey);
  }
  .text-barranquilla {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100%;
    height: 264px;
    font-size: 25px;
    text-align: end;
    align-items: flex-end;
    color: var(--fifth-color-grey);
  }
  .text-barranquilla p {
    width: 540px;
    font-size: 20px;
    text-align: end;
    color: var(--fifth-color-grey);
  }
  /* -------------------------------- */
  .section-guacherna {
    display: flex;
  }
  .main-text-guacherna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 24px 30px 24px 30px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
    background-color: var(--Primary-color-yellow);
  }
  .main-text-guacherna h2 {
    width: 602px;
    font-size: 70px;
    font-weight: bolder;
  }
  .text-guacherna {
    width: 601px;
    font-size: 25px;
  }
  .note-guacherna {
    width: 660px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .imagen-guacherna {
    position: relative;
    width: 611px;
    height: auto;
    border: 15px solid var(--tertiary-color-white);
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      url("/rutacol/assets/barranquilla.jpg");
  }
  .imagen-guacherna p {
    position: absolute;
    top: 22px;
    right: 14px;
    text-align: end;
    font-size: 15px;
    font-weight: bold;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
  }
  /* ------------------------------- */
  .section-batalla-de-flores {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 30px 80px 24px 80px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
    background-color: var(--secondary-color-orange);
  }
  .section-batalla-de-flores h2 {
    width: 700px;
    height: 100px;
    font-size: 70px;
    font-weight: bolder;
  }
  .section-batalla-de-flores p {
    width: 100%;
    height: 280px;
    font-size: 25px;
    font-weight: 600;
  }
  /* -------------------------- */
  .section-imagen-carrosa {
    position: relative;
    width: auto;
    height: 530px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1.25),
        rgba(0, 0, 0, -0.75)
      ),
      url("/rutacol/assets/batalla-de-flores.jpg");
    border: 15px solid var(--tertiary-color-white);
    background-position: center;
    background-size: cover;
  }
  .section-imagen-carrosa p {
    position: absolute;
    bottom: 12px;
    right: 15px;
    text-align: end;
    color: var(--tertiary-color-white);
    width: 500px;
  }
  /* --------------------------------------- */
  .section-restaurant {
    height: 800px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      url("/rutacol/assets/restaurant.png");
    background-position: center;
    background-size: cover;
  }
  /* ----------------------------------- */

  .section-where-to-eat {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 30px 80px 24px 80px;
    color: var(--tertiary-color-white);
    font-family: var(--type-typography);
    background-color: var(--Primary-color-yellow);
  }
  .section-where-to-eat h2 {
    width: 682px;
    height: 132px;
    font-size: 70px;
    font-weight: bolder;
  }
  .section-where-to-eat p {
    width: 100%;
    height: 153px;
    font-size: 25px;
    font-weight: 600;
  }
  /* ---------------------------- */
  .section-hospedaje {
    font-family: var(--type-typography);
    background-color: var(--background-color-white);
    padding: 80px 40px 24px 80px;
    text-align: end;
  }
  .section-hospedaje h2 {
    width: 100%;
    height: 132px;
    font-size: 77px;
    font-weight: bold;
    color: var(--secondary-color-orange);
  }
  .section-hospedaje p {
    width: 100%;
    height: 175px;
    font-size: 25px;
    color: var(--fifth-color-grey);
  }
  /* --------------------------------------- */
  .batalla-de-florez {
    position: relative;
    height: 360px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1.25),
        rgba(0, 0, 0, -0.75)
      ),
      url("/rutacol/assets/batalla-flores.jpg");
    border: 15px solid var(--tertiary-color-white);
    background-position: center;
    background-size: cover;
  }
  .batalla-de-florez p {
    position: absolute;
    right: 41px;
    bottom: 20px;
    color: aliceblue;
    width: 490px;
    height: 41px;
    text-align: end;
  }
  /* ---------------------- */
  .otras-rutas {
    width: 600px;
  }
  .title-descubre-mas h2 {
    font-size: 70px;
    width: 589px;
    padding: 0px 0 40px 0;
    color: var(--secondary-color-orange);
    font-family: var(--type-typography);
  }
  .section-descubre-mas {
    display: flex;
    justify-content: center;
    padding: 40px 0 40px 0;
  }
  .descubre-ruta-car {
    display: flex;
    gap: 24px;
  }
</style>
